.home-cont {
  background-image: url("../components/Images/fondoHome.jpg");
  /* background-image: url("../componentes/image/fondo-home3.png"); */
  /* background-color: black; */
  margin: 0;
  padding: 0;
  position: absolute;

  width: 100vw;

  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.filter {
  display: flex;
  align-items: center;

  background-color: #2e2b2b;
  gap: 1rem;
  width: 99%;
  height: 50px;
  /* border-radius: 0 0 50px 50px; */
  border: transparent;
}

.filter select {
  align-items: center;
  display: inline-flex;
  padding: 8px 16px;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #2498d7;

  text-align: center;
  position: relative;
  border: 1px solid #2e2b2b;
  background-color: #2e2b2b;

  border-radius: 20px;
  border: transparent;
  padding: 1em;
  margin-left: 8%;
  justify-content: space-between;
}

select:hover {
  border: 1px solid #2498d7;
  background-color: #2498d7;
  color: #ffffff;
}

.filtered {
  width: 100%;
  left: -25px;
  bottom: 07px;
  text-align: center;
  position: relative;
}
